footer {
  padding: 100px;
    text-align: center;
    color: grey;
    background-color: rgb(65, 65, 65);

    a{
      text-decoration: none;
      color:grey;

      .bi-instagram:hover{
          background: linear-gradient(to right top, orange, red,blueviolet);
          color:antiquewhite;
          border-radius: 30%;
      }

      .bi-facebook:hover{
        color:#3b5998 ;
      }

      .bi-twitter:hover{
        color:cadetblue;
      }
    }
  }