h1{
    background-color: rgb(255, 237, 199);
    text-align: center;
  }

.imagen img {
  height: 300px;
}

.formu {
    padding: 10px;
    background-color: rgb(232, 249, 255);
  }
  
  .portada {
    height: 500px;
  }
  
  .textoCarousel {
    color: white;
    background-color: black;
  }

  a{
    @include propiedades;
  }